.header
{
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0; 
  right: 0;
  left: 0;
  background-color: white;
  
  z-index: 100;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(233, 233, 233);
  
}
.left-section{
  margin-right: 70px;
  display: flex;
  align-items: center;
}
.left-button{
  height: 24px;
  margin-right: 25px;
  margin-left: 25px;
  cursor: pointer;
}
.yt-logo
{
  height: 20px;
  cursor: pointer;
}

.middle-section{
  
  display: flex;
  flex: 1;
  margin-right: 30px;
  max-width: 500px;
  align-items: center;
}
.search
{
  height: 44px;
  width: 60px;
  background-color: rgb(235, 235, 235);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(167, 165, 165);
  margin-left: -2px;
  margin-right: 8px;
  cursor: pointer;
  transition: opacity 0.15s;
  position: relative;
}
.search, .voice-search
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .tooltip, .voice-search .tooltip
{
  position: absolute;
  background-color: gray;
  color: white;
  padding: 6px 8px 6px 8px;
  font-size: 12px;
  bottom: -45px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search:hover .tooltip, .voice-search:hover .tooltip
{
  opacity: 1;
  
}


.search-icon
{
  height: 25px;
  
  
}
.voice-search
{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(255, 254, 254);
  cursor: pointer;
  position: relative;
}


.voice-icon
{
  height: 25px;
  
}
.searchbox
{
  height: 40px;
  flex: 1;
  padding-left: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(185, 184, 184);
  border-radius: 4px;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.05) inset;
  width: 0;
}
.searchbox::placeholder
{
  font-family: Roboto, Arial;
  
  font-size: 16px;
}
.right-section{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  
}
.upload-icon-container, .youtube-icon-container, .notifications-icon-container
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.upload-icon-container .tooltip, .youtube-icon-container .tooltip, .notifications-icon-container .tooltip
{
  position: absolute;
  color: white;
  background-color: gray;
  bottom: -45px;
  padding: 6px 8px 6px 8px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  font-family: Roboto, Arial;
  transition: opacity 0.15s;
}
.upload-icon-container:hover .tooltip, .youtube-icon-container:hover .tooltip, .notifications-icon-container:hover .tooltip
{
  opacity: 1;
}
.upload-icon
{
  height: 24px;
  cursor: pointer;
}
.upload-icon:hover
{
  opacity: 0.9;
  
}
.youtube-icon
{
  height: 24px;
  cursor: pointer;
}
.youtube-icon:hover
{
  opacity: 0.9;
}
.notification-icon
{
  margin-top: 2px;
  height: 26px;
  
}
.current-user-picture
{
  height: 32px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}
.notifications-icon-container
{
  position: relative;
  cursor: pointer;
}
.notifcations-counts
{
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: rgb(167, 6, 6);
  color: white;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 14px;
}